/* main-body content */
.bodycontent {
  background: url(../img/crimescene.jpg);
  height: 100vh;
  width: 100vw;
  background-size: cover;
}

/* .content {
  width: 40%;
  margin-top: 200px;
} */
.content h1 {
  padding-bottom: 30px;
  color: #fff;
}
.content h2 {
  padding-bottom: 30px;
  color: #fff;
}
.content h3 {
  padding-bottom: 30px;
  color: #fff;
}
.button {
  display: inline-block;
  margin: 10px;
  background: gray;
  font-size: 1.5em;
  padding: 12px 20px;
  border-radius: 20px;
}
.button:hover {
  background: #800000;
}
/* second main body content */
.container {
  background-color: #d3d3d3;
}

/* newsletter section */
/* .newsletter {
  background-color: #d3d3d3;
}
.newsletter h4 {
  padding: 10px;
  margin-left: 5%;
  font-size: 25px;
  font-weight: bold;
}
.input-group {
  margin-left: 5%;
  display: block;
  width: 300px;
  height: 20px;
} */
form {
  width: 428px;
  margin: 50px auto;
  padding: 50px;
}
.info {
  display: inline-block;
  margin-right: 5px;
}
.info input {
  display: block;
  width: 600px;
  height: 30px;
  border-radius: 3px;
  padding: 20px;
}
#submit {
  padding: 10px;
  margin-top: 20px;
}
